<!DOCTYPE html>
<html>

<!-- Head -->
<head>

	<title>Simple Contact Form A Flat Responsive Widget Template :: W3layouts</title>

	<!-- For-Mobile-Apps -->
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Simple Contact Form Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/owl.carousel.min.css">
		<link rel="stylesheet" href="css/magnific-popup.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/themify-icons.css">
		<link rel="stylesheet" href="css/nice-select.css">
		<link rel="stylesheet" href="css/flaticon.css">
		<link rel="stylesheet" href="css/gijgo.css">
		<link rel="stylesheet" href="css/animate.css">
		<link rel="stylesheet" href="css/slick.css">
		<link rel="stylesheet" href="css/slicknav.css">
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">

   		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/complaint.css" type="text/css" media="all" />

	<!-- Web-Fonts -->
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" 	type="text/css"  media="all">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,500,600,700,800" 		type="text/css"  media="all">
	<!-- //Web-Fonts -->

</head>
<!-- //Head -->

<!-- Body -->
<body>
	<header>
        <div class="header-area ">
            <div class="header-top_area d-none d-lg-block">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-md-5 ">
                            <div class="header_left">
                                <p>Welcome to ABC consulting service</p>
                            </div>
                        </div>
                        <div class="col-xl-7 col-md-7">
                            <div class="header_right d-flex">
                                    <div class="short_contact_list">
                                            <ul>
                                                <li><a href="#"> <i class="fa fa-envelope"></i> abcAgmail.com</a></li>
                                                <li><a href="#"> <i class="fa fa-phone"></i> 1601-609 6780</a></li>
                                            </ul>
                                        </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-2">
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="img/logo.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-7">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a class="active" href="user.html">home</a></li>
                                            
                                            <li><a href="Property.html">Property</a></li>
                                            <li><a href="#">About Us <i class="ti-angle-down"></i></a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a href="complaint.html">Complaint</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                <div class="Appointment">
                                    <div class="book_btn d-none d-lg-block">
                                        <a  href="logout.html">Logout</a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                </div>
            </div>
		</div>
		<h1>s</h1>
    </header>

	<h1 style="color: aliceblue;">REGISTER YOUR COMPLAINT</h1>

	<div class="cont">

		<div class="contact">
			<form action="#" method="post">
				<label>FIRST NAME</label>
				<input type="text" Name="First Name" placeholder="FIRST NAME" required="">
				<label>PROPERTY NAME</label>
				<input type="text" Name="property Name" placeholder="PROPERTY NAME" required="">
				<label>EMAIL</label>
				<input type="email" Name="Email" placeholder="EMAIL" required="">
				<label>PHONE NUMBER</label>
				<input type="text" Name="Phone Number" placeholder="PHONE NUMBER" required="">
				<label>CITY</label>
				<input type="text" Name="City" placeholder="CITY" required="">
				<label>CHOOSE COMPLAINT TYPE:</label>
				<br><br>
				<select>
					<option value="volvo">Electrical</option>
					<option value="saab">Carpentry</option>
					<option value="fiat">Plumbingt</option>
					<option value="audi">Security</option>
				</select><br><br>
				<label>COMPLAINT</label>
				<textarea name="Message" placeholder="COMPLAINT" required=""></textarea>
				
				<div class="send-button">
					<input type="submit" value="Send">
				</div>
			</form>
		</div>

	</div>

</body>
<!-- //Body -->

</html>